body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Open Sans,Arial,sans-serif;
    
}

/*
HEADER ------------------------------------
*/
header {
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 15px 0.1px grey;
    background: linear-gradient(284deg, rgba(176,210,116,1) 0%, rgba(255,255,255,1) 100%); 
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar .menu {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.navbar .menu li {
    list-style: none;
    padding: 10px;
    margin: 10px 0;
}

.navbar .menu li a {
    text-decoration: none;
    color: #008000;
}

.ass-name {
    font-family: fantasy;
    color: #008000;
    font-size: x-large;
    user-select: none;
}

.logo-and-title-container {
    display: flex;
    align-self: center;
    justify-content: flex-start;
    margin: 5px;
}

.logo {
    width: 15%;
    max-width: 30px;
    height: auto;
    margin: 5px;
}

.logo img {
    width: 100%;
    height: auto;
}


.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    right: 0;
    margin: 0;
    height: 100vh;
    background-color: lightgreen;
    width: auto;
    transform: translateX(200%);
    transition: 0.3s;
    box-shadow: grey -5px 0 15px 0px;
    z-index: 1;
}

/*
ICONE DU HAMBURGER
*/

.header .menu-icon {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
    user-select: none;
    z-index: 2;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: all .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*
MENU BTN
*/
.menu-btn {
    display: none;
}



.menu-btn:checked ~ .menu {
    transform: translateX(0)
}



header li:hover {
    background-color: aliceblue;
    transition: 0.3s;
    border-radius: 20px;
}


@media screen and (min-width: 800px) {

    .header .menu-btn, .header .menu-icon, .header .navicon {
        display: none;
    }

    .navbar .menu {
        flex-direction: row;
        justify-content: start;
        align-items: center;
        height: 100%;
        background-color: transparent;
        transform: translateX(0);
        transition: none;
        box-shadow: none;
        z-index: 4;
        padding: 0;
        
    }

    .navbar {
        align-items: center;
        justify-content: flex-start;
        z-index: 0;
    }

    .navbar .menu li {
        padding: 0 20px;
        margin: 0;
    }

    .navbar .menu li:hover {
        background-color: lightblue;
        transition: all 0.3s;
    }

    .ass-name {
        font-family: fantasy;
        color: #008000;
        font-size: x-large;
        user-select: none;
        align-self: flex-start;
        justify-self: flex-start;
    }
}



/*
FOOTER ------------------------------------
*/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    bottom: 0;
    width: 100%;
    min-height: 10%;
}

.footer-container {
    background-color: lightgreen;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.footer a {
    text-decoration: none;
}


/*
MAIN ------------------------------------
*/
.main {
    background-image: url(../images/foret.jpg);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    width: 100%;
    min-height: 75vh;
}

.main h1 {
    color: white;
    font-size: 100%;

}

.main .article-container {
    display: flex;
    flex-direction: column;
}

.main article {
    margin: 0px 20px 20px;
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.859);
}

.main h1 {
    width: 100%;
    text-align: center;
    font-size:xx-large;
}

.main article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main article p {
    text-align: justify;
    width: 100%;
    border: 1 solid black;
    margin: 20px;
    padding: 20px;
}

.article img {
    width: 250px;
    height: auto;
    max-height: 200px;
    border-radius: 20px;
    
}



@media screen and (min-width: 800px) {
 
    .main .article-container {
       flex-direction: row;
    }

}