/*
MAIN------------------------------------------------------------------------
*/

.main .article {
    padding: 20px 0;
    margin: 20px 0;
    text-align: center;
}

.img-container {
    width: 100%;
    
}
.img-container img {
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width:800px) {
    .main .article {
        margin: 20px;
    }
}